
.RData
RM2022_cache/revealjs/unnamed-chunk-4_8004d17c3fb25d3e60bc55b2bce54294.RData
RM2022_cache/revealjs/unnamed-chunk-4_8004d17c3fb25d3e60bc55b2bce54294.rdb
RM2022_cache/revealjs/unnamed-chunk-5_ea3e74d33c61e3a9c64ccd227989d27a.RData
RM2022_cache/revealjs/unnamed-chunk-5_ea3e74d33c61e3a9c64ccd227989d27a.rdb
RM2022_cache/revealjs/unnamed-chunk-5_ea3e74d33c61e3a9c64ccd227989d27a.rdx
RM2022_cache/revealjs/.DS_Store
.DS_Store
Tables/twitter_results.rdata
Tables/twitter_results_combined.rdata
Tables/twitter_results_without.rdata
.Rproj.user
